<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <!-- Bring in our bootstrap stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        
        <title>Mars Information Depot</title>
        
    </head>

    <body>
        <div class = "jumbotron text-center">
        <h1>Mars Data!</h1>
    </div>

    <div class = "container">

        <div class = "row"></div>
            <div class = "col-lg-12 text-center">
                <p><a class = "btn btn-primary btn-lg" href = "/scrape" role = "button">Get Today's Data!</a></p>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6 text-center">
                <h2>Headline of the Day!</h2>
                <h3> {{ title }} </h3>
                <br>
                <p> {{ para }} </p>
            </div>
            <div class = "col-md-6 text-center">
                <h2> Image of the Day! </h2>
                <img src = {{ m_url }} alt = "mars image" >
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-6 text-center">

               <table>  {{ m_html | safe }} </table>

            </div>        
        </div>

        <div class = "row">
            <div class = "col-md-6 text-center">

              <h3> {{ cerb_t }} </h3> 
              <a href = {{ cerb_url }} > Download Image! </a>

            </div>
            <div class = "col-md-6 text-center">

                <h3> {{ schi_t }} </h3> 
                <a href = {{ schi_url }} > Download Image! </a>
  
              </div>
        </div>

        <div class = "row">
            <div class = "col-md-6 text-center">

              <h3> {{ syr_t }} </h3> 
              <a href =  {{ syr_url }} > Download Image! </a>

            </div>
            <div class = "col-md-6 text-center">

                <h3> {{ val_t }} </h3> 
                <a href = {{ val_url }}>  Download Image! </a>
  
              </div>
        </div>


    </div>
   
    </body>