<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <!-- Bring in our bootstrap stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        
        <title>Mars Information Depot</title>
        
    </head>

    <body>
        <div class = "jumbotron text-center">
        <h1>Mars Data!</h1>
    </div>
    <p><a class = "btn btn-primary btn-lg" href = "/scrape" role = "button">Get Today's Data!</a></p>

    <h2> {{ title }} </h2>
    <br>
    <p> {{ para }} </p>

    <h2> Image of the Day! </h2>
    <img src = {{ m_url }} alt = "mars image" >
    
    


    </body>